/*page wrapper */
.wrapper{
  max-width: 90%;
  margin: 0 auto;
  padding: 2% 5%;
}

/*main tag styling */
main{
  height: 100vh;
  
}


/* Navigation styling */
nav a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: bold;
  color: #87cde4;
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid #cce5eb;
  margin-top: 30px;
  text-align: center;
  

}
p {
  font-family: 'Space Mono', monospace;
  text-align: center;
}

h1 {
  font-family: 'Space Mono', monospace, bold;
  font-weight: 700;
  text-align: center;
  
}

h2{
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  text-align: center;
  font-size: 50px;

}

/*footer styling to bring it to the bottom of the page*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.jess-gallery {
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  gap: 3%;                   
  margin-top: 2%;
  flex-wrap: wrap;          
}

.jess-photo {
  width: 25%;                
  border-radius: 10px;
  box-shadow: 15px 15px #95d2e6;
  object-fit: cover;
}

